 <link rel="stylesheet" href="/static/style.css" type="text/css">

{% block body %}
{% if session['logged_in'] %}
<p>You're logged in already!</p>
{% else %}
<div class="app-title">

<p>▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄
 </p>
 <p>BUILD APPS</p>
 <p>GET MONEY</p>
 
 <p>▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀
 </p>

 
</div>
<form action="/login" method="POST">
			<div class="login-form">
				
				<div class="control-group">
				<input type="username" name="username" placeholder="Username">
				</div>
  
				<div class="control-group">
				<input type="password" name="password" placeholder="Password">
				</div>
			<div>
  <input type="submit" value="Log in">
</form>
{% endif %}
{% endblock %}