 <link rel="stylesheet" href="/static/sleepystyle.css" type="text/css">


<marquee behavior="scroll" direction="left">

<pre>
 ____  ____  ____ 
(_   )(_   )(_   )
 / /_  / /_  / /_ 
(____)(____)(____)

  </pre>
</marquee>                        
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  

